@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Test contact page<br />
    Address<br />
    <abbr title="Phone">P:</abbr>
    000.000.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:test@test.test">test@test.test</a><br />
    <strong>Marketing:</strong> <a href="mailto:test@test.test">test@test.test</a>
</address>